{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    <table class="uk-table uk-table-hover uk-table-divider currency-table">
        <thead>
        <tr>
            <th>Currency</th>
            <th>Unit</th>
            <th>Values</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-body">

        </tbody>
    </table>

    <script>
        let currency = [];
        fetch('{{ url('api_dashboard') }}').then(resp=>resp.json()).then(data => {currency = data.data})
        setTimeout(function(){
            let tableBody = document.querySelector('.table-body');
            for (var currencyKey in currency) {
                let tr = document.createElement('tr');
                let tdCurrency = document.createElement('td');
                let tdCode = document.createElement('td');
                let tdMid = document.createElement('td');
                let tdAction = document.createElement('td');
                let button = document.createElement('button');
                button.innerText = 'Buy';
                tdCurrency.innerText = currency[currencyKey].currency
                tdCode.innerText = currency[currencyKey].code
                tdMid.innerText = currency[currencyKey].mid

                button.className = 'button-buy';
                tdCurrency.className = 'currency-cell'
                tdCode.className = 'code-cell';
                tdMid.className = 'mid-cell';

                 tdAction.appendChild(button);
                tr.appendChild(tdCurrency)
                tr.appendChild(tdCode)
                tr.appendChild(tdMid)
                tr.appendChild(tdAction)
                tableBody.appendChild(tr)
            }
        },1500)

        setInterval(function(){
            fetch('{{ url('api_dashboard') }}').then(resp=>resp.json()).then(data => {currency.push('test')})
            for (var currencyKey in currency) {
                let tdCurrency = document.querySelector('.currency-cell').innerText = currency[currencyKey].currency
                let tdCode = document.querySelector('.code-cell').innerText = currency[currencyKey].code
                let tdMid = document.querySelector('.mid-cell').innerText = currency[currencyKey].mid
            }
        }, 10000)

    </script>
{% endblock %}

